body {
    width: 50cm;
    height: 50cm;
    overflow-x: hidden;
}

.contain {
    width: 10cm;
    height: auto;
    background-color: rgb(159, 159, 159);
    padding: 40px;
    margin: 0px auto;
}

.form-group {
    display: flex;
    padding: 5px;
    align-items: center;
}

label {
    flex: 1;
}

input[type="text"],
input[type="number"] {
    flex: 2;
    padding: 3px;
}